node_modules/
client/node_modules/
server/node_modules/
dist/
client/dist/
server/dist/
*.log
logs/
.DS_Store
*.local
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client/.env
server/.env
.env
uploads/
server/uploads/
client/.vite-cache/
coverage/
tmp/
temp/
